<launch>

	<node name="test" pkg="crazyflie_cpp" type="test">
		<param name="x_axis" value="4"/>
		<param name="y_axis" value="3"/>
		<param name="z_axis" value="2"/>
		<param name="yaw_axis" value="1"/>
		<param name="x_velocity_max" value="30"/>
		<param name="y_velocity_max" value="-30"/>
		<param name="z_velocity_max" value="60000"/>
		<param name="yaw_velocity_max" value="-200"/>
	</node>
</launch>
