<?xml version="1.0"?>

<launch>
  <arg name="uri" default="radio://0/80/250K" />
  <arg name="joy_dev" default="/dev/input/js1" />

  <include file="$(find crazyflie_driver)/launch/crazyflie_server.launch">
  </include>

  <group ns="crazyflie">

    <include file="$(find crazyflie_driver)/launch/crazyflie_add.launch">
      <arg name="uri" value="$(arg uri)" />
      <arg name="tf_prefix" value="crazyflie" />
    </include>

    <include file="$(find crazyflie_demo)/launch/keyboard.launch">
    </include>
  </group>

</launch>
